<header style="background-color: #4f37ac;">
	<div class="navbar container mx-auto">
		<div class="flex-1">
			<a href="/" class="btn btn-ghost text-xl text-white">QuickSave.app</a>
		</div>
		<div class="flex-none">
			<ul class="menu menu-horizontal px-1">
				<li><a class="text-white" href="/tiktok-video-downloader">Tải video tiktok</a></li>
				<li><a class="text-white" href="/facebook-private-video-downloader">Tải video facebook riêng tư</a></li>
				<!-- <li><a class="text-white" href="#">Up ảnh lấy link</a></li> -->
			</ul>
		</div>
	</div>
</header>