<!DOCTYPE html>
<html lang="en" data-theme="emerald">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<meta name="robots" content="index, follow">

	<title>Tải video Facebook - Facebook video downloader</title>
	<meta property="og:type" content="website">
	<meta property="og:title" content="Tải video Facebook - Facebook video downloader">
	<meta itemprop="image" content="/images/banner.png">
	<link rel="shortcut icon" href="https://minhdevs.github.io/introduce/dev.png">
	<link rel="apple-touch-icon" sizes="192x192" href="https://minhdevs.github.io/introduce/dev.png">
	<link rel="image_src" href="https://minhdevs.github.io/introduce/dev.png">
	<meta name="description" content="fastsave.live is the best Facebook Video Downloader on the world!">
	<meta name="keywords" content="Facebook Video Downloader, Download video Facebook, Facebook video download, Facebook video download online, Facebook video download free, Facebook video download app, Facebook video download tool, Facebook video download website, Facebook video download software" />
	<meta name="robots" content="index, follow" />
	<meta name="author" content="fastsave.live" />
	<meta name="generator" content="fastsave.live" />
	<meta name="rating" content="general" />
	<meta name="distribution" content="global" />
	<meta name="googlebot" content="index, follow" />
	<meta name="google" content="nositelinkssearchbox" />

	<!-- Quy định icon cho thiết bị iphone-->
	<meta name="google" content="notranslate" />

	<!-- nội dung gốc là trang đang được hiển thị  -->
	<link rel="canonical" href="https://fastsave.live/" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- Tailwindcss and daisyUI -->
	<link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css" />
	<script src="https://cdn.tailwindcss.com"></script>

	<!-- Custom Style -->
	<link rel="stylesheet" href="stylesheets/style.css" />


	<link rel="alternate" hreflang="ar" href="https://ar.fastsave.live/154.html">

</head>

<body>

	<%- include('./partials/header.ejs') %>
	<div>
		<%- body %>
	</div>
	<%- include('./partials/footer.ejs') %>
</body>

</html>