input {
  padding: 8px;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.5rem 0.75rem;
  border: 0;
  outline: 0;
  color: #fff;
  width: 100%;
  background-color: #2f2f2f;
  margin: 0 34px;
}
input:focus {
  border: 0;
  outline: 0;
}
.input-container {
  overflow: hidden;
  border-radius: 26px;
  display: flex;
  width: 100%;
  padding: 6px;
  background-color: #2f2f2f;
  justify-content: center;
  align-items: center;
  position: relative;
}
.icon-arrow-up:active {
  opacity: 0.4;
  transition: none;
}
.input-container svg {
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 26px;
  position: absolute;
}
.input-container .icon-arrow-up {
  background-color: #676767;
  right: 10px;
}
.input-container .icon-md-heavy {
  left: 10px;
  cursor: pointer;
}
.alert {
  padding: 20px;
  background-color: #f44336;
  color: #fff;
  border-radius: 16px;
  position: fixed;
  top: 78px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: none;
}
.closebtn {
  margin-left: 15px;
  color: #fff;
  font-weight: 700;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
}
.closebtn:hover {
  color: #000;
}
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s linear;
  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue", Arial,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body {
  background-color: #212121;
}
main {
  /* height: 100vh; */
}
header {
  color: #fff;
  padding: 10px 0;
  max-width: 1428px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  color: #fff;
  text-align: center;
  /* margin-top: 148px; */
  margin-left: 18px;
  margin-right: 18px;
}
.tool-description {
  color: #fff;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 28px;
  width: 95%;
  max-width: 760px;
}
form {
  margin: 0 auto;
  width: 95%;
  max-width: 1128px;
}
nav > ul {
  position: absolute;
  list-style: none;
  background: #2f2f2f;
  padding: 12px;
  border-radius: 16px;
  left: -50px;
  display: none;
}
nav:hover ul {
  display: block;
}
nav {
  padding: 8px;
  position: relative;
}
nav > ul > li {
  padding: 8px;
}
nav > ul > li > a {
  color: #fff;
  width: 100%;
  height: 100%;
  min-width: 100px;
  display: block;
}
.text-primary {
  color: #5d5dff;
}
.text-white {
  color: white;
}
.card-container-tip {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 760px;
  margin: 128px auto;
  flex-wrap: wrap;
  flex: 1;
}
.card-container-tip > .card-item {
  border: 1px solid #676767;
  border-radius: 16px;
  padding: 12px;
  color: #9b9b9b;
  font-size: 13px;
  width: 160px;
}
.card-item {
  margin: 8px;
  height: 94.5px;
  cursor: pointer;
  transition: none;
}
.card-item:hover {
  background-color: #424242;
}
.card-item > div {
  margin-top: 12px;
  color: #9b9b9b;
}
figure:hover {
  background-color: #424242;
}
.display-result {
  width: 100%;
  max-width: 340px;
  margin: 28px auto;
  padding: 8px 0;
  border-radius: 1rem;
  background-color: #2f2f2f;
  border: 1px solid #ffffff1a;
  box-shadow: var(0 0 transparent, 0 0 transparent),
    var(0 0 transparent, 0 0 transparent), 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}
.display-result figure {
  transition: none;
}
.display-result figure > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.display-result .btn-download {
  text-decoration: none;
  color: #fff;
  border: 1px solid #ffffff1a;
  border-radius: 26px;
  font-size: 12px;
  padding: 8px;
  font-family: inherit;
  background-color: #2f2f2f;
}
.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}
.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.inner.one {
  left: 0;
  top: 0;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #efeffa;
}
.inner.two {
  right: 0;
  top: 0;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #efeffa;
}
.inner.three {
  right: 0;
  bottom: 0;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #efeffa;
}
@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
.rich-result {
  /* height: 980px;
  background: red; */
  margin: 78px auto;
  width: 95%;
  max-width: 1128px;
}
.rich-result.form-container {
  width: 100%;
  max-width: 100%;
}
.rich-result > .title {
  text-align: center;
  color: white;
}
.rich-result.content > .flex-box > .card-flex-item {
}
.card-flex-item {
  background: #1e1e1e;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 14px;
  width: 95%;
  max-width: 340px;
  height: 239px;
  margin: 8px;
}

.divider {
  width: 90%;
  max-width: 760px;
  background-color: #9b9b9b;
  height: 0.5px;
  margin: 0 auto;
  display: none;
}

#faq {
  background: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 16px;
  border: 1px solid #e3e3e3;
  max-width: 1128px;
  width: 95%;
  /* margin: 15vh auto 0; */
}

#faq p {
  margin: 0 0 1.5rem;
  color: #656565;
}

.card-container-tip h2 {
  font-size: 13px;
  margin-top: 8px;
  font-weight: unset;
}
.private-tool {
  width: fit-content;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 56px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #424242;
  padding: 2px 15px;
  border-radius: 26px;
  text-decoration: none;
}
.private-tool:hover {
  opacity: 0.5;
}

details:not(:last-of-type) {
  border-bottom: 1px solid #e3e3e3;
}
details[open] summary {
  padding-bottom: 0.75rem;
}
details[open] summary::after {
  transform: rotateX(180deg);
  opacity: 0.75;
}
details summary {
  outline: none;
  list-style: none;
  padding: 1.5rem 0;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  justify-content: space-between;
  border-radius: 8px;
  user-select: none;
}
details summary:focus-visible {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}
details summary::-webkit-details-marker {
  display: none;
}
@media (hover: hover) {
  details summary:hover::after {
    opacity: 0.75;
  }
}
details summary::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
  background: green;
  transition: transform 150ms ease, opacity 150ms ease;
  opacity: 0.4;
  background: url('data:image/svg+xml; charset=UTF-8,<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>');
}
details article {
  animation: slideIn 300ms ease;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    margin-top: -1rem;
  }
  100% {
    opacity: 1;
    margin-top: 0rem;
  }
}
