<style>
	.text-title-bold {
		color: #363636;
	}

	.text-content-small {
		color: #4a4a4a;
	}
</style>
<div class="py-12 mt-48">
	<h1 class="text-center text-3xl text-title-bold font-bold mb-2">FastSave.live - Best Facebook Video Downloader</h1>
	<section class="flex py-5 justify-center items-center">
		<div class="container p-4 mx-auto xl:w-4/6 lg:w-2/3 md:w-2/3 sm:w-96">
			<div class="columns">
				<div class="column">
					<h3 class="text-xl font-bold mb-5 text-title-bold">Facebook Downloader</h3>
					<p class="text-content-small"><b>FastSave</b> was invented to help you Facebook video download and save all kinds of videos from Facebook to your device with the best quality (up to 4K). Videos on regular posts/Watch, Livestream videos, videos in public/private groups, … are all easily downloaded & saved from Fb with just a few clicks via FastSave</p><br>

					<h3 class="text-xl font-bold mb-5 text-title-bold">Facebook Story Video Downloader</h3>
					<p class="text-content-small">SnapSave also could download Fb video story of the best quality. All you need is to befriend the creator of the Story on Fb and follow the same steps as downloading private Facebook videos.</p><br>


					<h3 class="text-xl font-bold mb-5 text-title-bold">Salient features:</h3>
					<ul class="ol-decorated list-decimal text-content-small">
						<li><small>Miễn phí 100% và không có phụ phí phát sinh. Chúng tôi chỉ đặt một vài quảng cáo, giúp duy trì chi phí máy chủ của chúng tôi.</small></li>
						<li><small>Hỗ trợ nhiều định dạng, đặc biệt cho phép bạn Download FB riêng video full HD, 4K kèm âm thanh. Hầu hết các trình tải xuống facebook khác chỉ có thể giúp bạn tải video Facebook và không có tải xuống nhóm riêng tư, nhưng với Fsave, chúng ta có thể Tải xuống bất kỳ video facebook nào trên mọi thiết bị, mọi nền tảng: Android, iOS, di động, PC hoặc máy tính bảng. </small></li>
						<li><small>Tải xuống video nhóm riêng tư trên Facebook bằng trình duyệt của bạn: Chúng tôi mong muốn giữ mọi thứ đơn giản và mang lại trải nghiệm tốt nhất có thể cho bạn. Bạn không cần tải xuống hoặc cài đặt bất kỳ phần mềm nào.</small></li>
						<li><small>Hoàn toàn miễn phí. Chúng tôi chỉ đặt 1 số quảng cáo để duy trì hoạt động và hỗ trợ cho việc phát triển sản phẩm tốt hơn.</small></li>

					</ul>
				</div>
			</div>
		</div>
	</section>
</div>

<div style="background-color: #f4f3fc;" class="py-12 ">
	<h1 class="text-center text-3xl text-title-bold font-bold mb-2">Frequently Asked Questions</h1>
	<section class="qa py-5 justify-center items-center"></section>
</div>


<script>
	const container_q_and_a = document.querySelector('.qa');
	const arrQA = [{
			question: 'Tại sao chúng ta nên sử dụng FastSave để tải video facebook riêng tư?',
			answer: `
			<div class="card-body">
                <p itemprop="text">FastSave.live - <a href="/" title="Download video facebook"><b>Download video facebook</b></a> - Công nghệ FastSave luôn được cập nhật để nhanh và tốt nhất cho trải nghiệm người dùng tuyệt vời, hãy dùng thử các sản phẩm của công ty FastSave và bạn sẽ thấy.</p>
            </div>
        `
		},
		{
			question: 'Tải xuống video facebook riêng tư có hợp lệ không?',
			answer: `
			<div class="card-body">
				<p itemprop="text">Chà, hoàn toàn bình thường, bạn có thể lưu nó vào máy tính của mình như bất kỳ video công khai nào khác</p>
            </div>
			`
		},
		{
			question: 'Làm thế nào để tải video facebook riêng tư trên Iphone?',
			answer: `
			<div class="card-body">
				<p itemprop="text">Vì iOS không hỗ trợ tải xuống video trực tiếp nên bạn cần tải xuống <a href="https://apps.apple.com/us/app/documents-by-readdle/id364901807" rel="nofollow" target="_blank"><b>Documents: Files, PDF, Browser 17+</b></a>, Mở ứng dụng, Chọn trình duyệt -&gt; Truy cập Tải xuống Video facebook Riêng tư -&gt; Nhập nguồn xem-nguồn -&gt; Và Nhấp vào <b> Tải xuống </b> -&gt; Chọn chất lượng bạn muốn tải xuống.</p>
 			</div>
			`
		},
		{
			question: 'FastSave có lưu trữ các video đã tải xuống hay giữ một bản sao của video không?',
			answer: `
			<div class="card-body">
				<p itemprop="text">Facebook vẫn giữ tất cả video trên máy chủ .FastSave không lưu trữ video và chúng tôi cũng không giữ bản sao của các video đã tải xuống. Bên cạnh đó, chúng tôi không theo dõi lịch sử tải xuống của người dùng nên việc sử dụng FastSave là hoàn toàn an toàn và bảo mật.</p>
			</div>
			`
		},
		{
			question: 'Video đã tải xuống được lưu ở đâu?',
			answer: `
			<div class="card-body">
				<p itemprop="text">Xem lịch sử Tải xuống trong trình duyệt của bạn, sử dụng các phím tắt sau: <b> Ctrl + J </b> cho Windows và <b> Shift + Command + J </b> cho Mac.</p>
			</div>
			`
		}
	]

	container_q_and_a.innerHTML = arrQA.map((e, i) => {
		return `
            <div class="collapse collapse-plus rounded rounded-2 my-2  p-0 mx-auto xl:w-4/6 lg:w-2/3 md:w-2/3 sm:w-96" style="background-color: #fdfdfd;">
                <input type="radio" name="qa" class=" p-1"/>
                <div class="collapse-title text-base text-title-bold font-medium ">
                    ${e.question}
                </div>
                <div class="collapse-content">
                    <p><small>
                    ${e.answer}    
                    </small></p>
                </div>
            </div>
            `;
	}).join('')
</script>